.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.soft-square1 {
    width: 453px;
    height: 673px;
    background-color: mediumslateblue;
    border-radius: 24px; 
    
}
.soft-square2 {
    width: 453px;
    height: 332px;
    background-color: mediumslateblue;
    border-radius: 24px; 
}
.soft-square3 {
    width: 955px;
    height: 408px;
    background-color: mediumslateblue;
    border-radius: 24px; 
}
.soft-square4 {
    width: 505px;
    height: 408px;
    background-color: mediumslateblue;
    border-radius: 24px;
}
.soft-square5 {
    width: 457px;
    height: 688px;
    background-color: mediumslateblue;
    border-radius: 24px; 
}
.soft-square6 {
    width: 457px;
    height: 751px;
    background-color: mediumslateblue;
    border-radius: 24px;
}
.soft-square7 {
    width: 505px;
    height: 403px;
    background-color: mediumslateblue;
    border-radius: 24px; 
}
.soft-square8 {
    width: 480px;
    height: 403px;
    background-color: mediumslateblue;
    border-radius: 24px; 
}
.soft-square9 {
    width: 1007px;
    height: 607px;
    background-color: mediumslateblue;
    border-radius: 24px; 
}



